# Base de datos (Neon)
DATABASE_URL="postgresql://usuario:password@ep-xxx.us-east-1.aws.neon.tech/neondb?sslmode=require"

# NextAuth
NEXTAUTH_SECRET=genera_un_string_aleatorio_largo_aqui
NEXTAUTH_URL=http://localhost:3000
